.header__navbar{
    
}
.help{
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(238, 238, 238);
}
.help__list{
    list-style: none;
    display: flex;
    margin-left: 34px;
    margin-top: 18px;
    margin-bottom: 18px;
}
.help__list-item{
    margin-right: 10px;
    position: relative;
    padding: 0 16px 0 0;
}
.help__list-item::after{
    content: "";
    position: absolute;
    top: calc(100% - 80%);
    width: 1px;
    height: 10px;
    background-color: var(--black-color);
    right: 0;
}

.help__list-link{
    text-decoration: none;
    color: var(--black-color);
    font-size: 15px;
    display: block;
}
.help__list-link-active{
    color: var(--tomato-color);
}


/* Sidebar */
.sidebar{

}
.sidebar__header{
    font-size: 16px;
    text-align: center;
}
.sidebar__title{
    font-weight: 300;
    background-color: transparent;
    padding: 10px 14px;
    border: 1px solid var(--tomato-color);
    border-radius: 50px;
    display: inline-block;
    margin-top: 26px;
    text-transform: uppercase;
    margin-bottom: 26px;
    min-width: 230px;
}
.sidebar__list{
    list-style: none;
}
.sidebar__item{
    padding: 12px 0 10px 30px;
    position: relative;
}
.sidebar__item::before{
    content: "";
    position: absolute;
    width: 95%;
    height: 1px;
    top: 100%;
    border-bottom: 1px solid #d6d6d6;
}
.sidebar__item:hover .sidebar__link::before{
    background-color: var(--tomato-color);
}
.sidebar__link{
    font-size: 15px;
    text-decoration: none;
    color: var(--black-color);
    position: relative;
}
.sidebar__link:hover{
    color: #61ad94;
}
.sidebar__link::before{
    content: "";
    position: absolute;
    left: -10px;
    top: 7px;
    background-color: #8a8a8a;
    width: 3px;
    height: 3px;
    border-radius: 50%;
}





/* Products */
.product__list{
    margin-top: 16px;
}
.product__img{
    text-align: center;
}
.product__img-link-2{
    /* width: 100%; */
}
.layout__products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 22px;
}
.layout__list{
    line-height: 22px;
}
.layout__list-span{
    margin-right: 6px; 
    cursor: default;
}
.layout__list-icon{
    opacity: 0.7;
}
.layout__list-icon:hover{
    color: #61ad94;
    cursor: pointer;
}
.layout__sort-by{
    line-height: 22px;
    margin-left: 130px;
}
.layout__sort-by-text{
    font-size: 15px;
    opacity: 0.7;
}
.layout__sort-by-btn{
    outline-style: unset;
    border: 1px solid #c0c0c0;
    border-radius: 50px;
    padding: 4px 12px;
    
}
.layout__sort-by-btn:hover{
    cursor: pointer;
}
.btn__text{
    
}
.layout__sort-by-icon{

}
.product__items{
    margin-top: 30px;
    position: relative;
}
.product__items::before{
    content: "";
    position: absolute;
    width: 95%;
    height: 1px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #d6d3d396;
    top: -14px;

}
.slider__img-2{
    
}
.nexts{
    line-height: 22px;
}
.next__pages-2{
    list-style: none;
    margin: 0 auto;
    display: flex;
    align-items: center; 
}
.next__pages-item-2{
    margin-right: 16px;
}

.next__pages-link-2{
    text-decoration: none;
    color: var(--black-color);
}
.next__pages-link-active-2{
    color: var(--tomato-color);
}
.next__pages-icon-2{
    background-color: var(--tomato-color);
    padding: 3px 6px;
    border-radius: 50px;
    color: var(--white-color);
    cursor: pointer;
}
.next__pages-icon-2:hover{
    background-color: var(--text-color);
}
.next__pages-link-2:hover{
    color: #61ad94;
}


/* Cart icon viewed */
.btn__bill-link-icon{
    color: #fff;
}



/* Footer */
.footer__text-2{
    margin-bottom: 30px;
}
